In [1]:
t1=(1,'qfef',5.2)

In [3]:
print(t1)

(1, 'qfef', 5.2)

In [10]:
f1=(1,2,3)
f2=(3,'hi',4.3)
print(f2[0:2])
print(f1+f2)
print((f1+f2)[2])
print(f1+f2[2:5])

(3, 'hi')
(1, 2, 3, 3, 'hi', 4.3)
3
(1, 2, 3, 4.3)

In [11]:
t2=(2,3,4,5,6,7,8)
print(t2[:])
print(t2[0])
print(t2[1:6])
print(t2[:3])
print(t2[1::3])

(2, 3, 4, 5, 6, 7, 8)
2
(3, 4, 5, 6, 7)
(2, 3, 4)
(3, 6)

In [12]:
student=(10,'python',20,30,40)
print(student[0:2])
rno,sub=(student[0:2])
print(rno)
print(sub)

(10, 'python')
10
python

In [21]:
t1=(2,3,4,5,6,7,4,2,2,4,5,3,2,345,1,3,44)
print(len(t1))
print(max(t1))
print(min(t1))
print(t1)
print(sorted(t1))
print(t1)
print(sum(t1))

print(t1)
print(t1.index(3))
print(t1.count(2))

17
345
1
(2, 3, 4, 5, 6, 7, 4, 2, 2, 4, 5, 3, 2, 345, 1, 3, 44)

TypeError: 'reverse' is an invalid keyword argument for print()

In [19]:
#nested tuple
emp=((90,'ram',300),(34,'rhuahs',345),(23,'wefd',346))
print(emp)
print(emp[1][2])

((90, 'ram', 300), (34, 'rhuahs', 345), (23, 'wefd', 346))
345

In [24]:
T1=(1,2,3,4,5,5,6,3)
print(list(T1))
T1.append(8)

[1, 2, 3, 4, 5, 5, 6, 3]

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
print(T1)
del(T1[2])

(1, 2, 3, 4, 5, 5, 6, 3)

TypeError: 'tuple' object doesn't support item deletion

In [32]:
print(T1)
l1=list(range(3,7,2))#value
print(l1)

(1, 2, 3, 4, 5, 5, 6, 3)
[3, 5]

In [35]:
num=(1,2,3,4,5,6,7,8)
print(num)
l1=[int(input("enter the number of value:"))]
new1=tuple(l1)
i=int(input("enter index:"))
num1=num[0:i]
num1=num1+new1
num=num1+num[i:]
print(num)

(1, 2, 3, 4, 5, 6, 7, 8)
enter the number of value:5
enter index:3
(1, 2, 3, 5, 4, 5, 6, 7, 8)

In [ ]:
n1=(1,2,4,8,9,10)
#make a prg that do not print element 8
#that do not print element after 8
before 8 and after 8